name: Update gist with latest YouTube videos
on:
  push:
    branches:
      - master
  # schedule:
  #   - cron: "0 0 * * *"
  
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Setup Python"
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: "Pip install"
        run: pip install -r requirements.txt

      - name: "Update gist"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: bc608a56a8f9a82dbaac4cac805fabfb
          YOUTUBE_API_KEY: ${{ secrets.YT_API_KEY }}
        run: python main.py
